.App {
  text-align: center;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.contact-button {
  display: inline-block; 
  font-family: "Source Sans Pro", sans-serif;
  background-color: black;
  border: none;
  width: 150px;
  height: 25px;
  color: white;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .contact-button {
    margin-left: 175px;
    margin-top: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-bottom: 200px;
  }

  .contact-button {
    margin: 0 0 0 500px;
  }
}

.logo {
  width: 300px;
  height: 40px;
}